<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="basic"
		label="COM_DI_CONFIG_BASIC_SETTINGS_LABEL"
		description="COM_DI_CONFIG_BASIC_SETTINGS_DESC"
	>
		<field
			name="use_featured"
			type="list"
			label="COM_DI_CONFIG_BASIC_USE_FEATURED_TITLE"
			description="COM_DI_CONFIG_BASIC_USE_FEATURED_DESC"
			default="1"
			filter="integer"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field
			name="quality"
			type="text"
			label="COM_DI_CONFIG_BASIC_QUALITY_TITLE"
			description="COM_DI_CONFIG_BASIC_QUALITY_DESC"
			default="80"
			filter="integer"
		/>
		
		<field
			name="watermarkfile"
			type="text"
			class="inputbox"
			label="COM_DI_SIZE_FIELD_WATERMARK_LABEL"
			description ="COM_DI_SIZE_FIELD_WATERMARK_DESC"
			default=""
			filter="string"
		/>

		<field
			name="horiz_position"
			type="list"
			label="COM_DI_SIZE_FIELD_HORIZP_LABEL"
			description="COM_DI_SIZE_FIELD_HORIZP_DESC"
			default="1"
			filter="integer"
		>
			<option value="center">Center</option>
			<option value="left">Left</option>
			<option value="right">Right</option>
		</field>
		
		<field
			name="horiz_shift"
			type="text"
			label="COM_DI_SIZE_FIELD_HORIZSHIFT_LABEL"
			description="COM_DI_SIZE_FIELD_HORIZSHIFT_DESC"
			default="0"
			filter="integer"
		/>
		
		<field
			name="vert_position"
			type="list"
			label="COM_DI_SIZE_FIELD_VERTP_LABEL"
			description="COM_DI_SIZE_FIELD_VERTP_DESC"
			default="1"
			filter="integer"
		>
			<option value="top">Top</option>
			<option value="middle">Middle</option>
			<option value="bottom">Bottom</option>
		</field>
		
		<field
			name="vert_shift"
			type="text"
			label="COM_DI_SIZE_FIELD_VERTSHIFT_LABEL"
			description="COM_DI_SIZE_FIELD_VERTSHIFT_DESC"
			default="10"
			filter="integer"
		/>

		<field
			name="transparency"
			type="text"
			label="COM_DI_SIZE_FIELD_TRANS_LABEL"
			description="COM_DI_SIZE_FIELD_TRANS_DESC"
			default="50"
			filter="integer"
		/>

		<field
			name="manager_size"
			type="sql"
			label="COM_DI_CONFIG_BASIC_ADMIN_SIZE_TITLE"
			description="COM_DI_CONFIG_BASIC_ADMIN_SIZE_DESC"
			query="SELECT indent FROM #__di_images_sizes"
			key_field="indent"
			value_field="indent"
			default="regular"
			filter="string"
		/>
		
		<field
			name="delete_size_images"
			type="list"
			label="COM_DI_CONFIG_BASIC_DELETE_SIZE_IMAGES_TITLE"
			description="COM_DI_CONFIG_BASIC_DELETE_SIZE_IMAGES_DESC"
			default="1"
			filter="integer"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field
			name="delete_images_on_content_delete"
			type="list"
			label="COM_DI_CONFIG_BASIC_DELETE_IMAGES_TITLE"
			description="COM_DI_CONFIG_BASIC_DELETE_IMAGES_DESC"
			default="0"
			filter="integer"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_di"
			section="component"
		/>
	</fieldset>
</config>